@import './variable.styl'

html, body
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text

.loading-container
  position: fixed
  left: 50%
  top: 50%
  z-index: 99
  transform: translate(-50%, -50%)